FACEBOOK_CLIENT_ID=id
FACEBOOK_CLIENT_SECRET=secret
FACEBOOK_CALLBACK_URL=url

GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=secret
GOOGLE_CALLBACK_URL=url

JWT_SECRET=secret
JWT_EXPIRES_IN=3600s

EXPRESS_SESSION_SECRET=secret
PORT=8080
