<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <form id="form">
          <div class="form-group w-75 mx-auto">
            <input
              type="datetime-local"
              class="form-control form-control-lg"
              id="datetime"
              name="datetime"
              required
            />
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-lg">
              📆 Unesi datum i vreme
            </button>
          </div>
        </form>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
